<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>masks</title>
</head>
<body>
    <div class="comtainer">
        <div class="row">
            <div class="col">
                <form action="{% url 'index:upload-file' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        <label for="file">file</label>
                        <input type="file" name="file" id="file">
                    </p>
                    <p>
                        <input type="submit" value="upload">
                    </p>                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>